<div class="table-loading-shade" *ngIf="isProcessing">
  <div *ngIf="isProcessing" class="spinner-border text-primary" style="width: 80px; height: 80px;">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="list row">


  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Export data by Age of Vehicle" [(ngModel)]="ageParam" />
    </div>
  </div>
</div>
<div class="list row">
  <div class="col-md-3">

    <button class="btn btn-outline-secondary" type="button" (click)="exportData()">
      Export
    </button>

  </div>

</div>