<div>
  <div *ngIf="currentCar.id" class="edit-form">
    <h4>Car</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="currentCar.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="currentCar.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentCar.email"
          name="email"
        />
      </div>

      
    </form>

    
    

    <button class="badge badge-danger mr-2" (click)="deleteCar()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateCar()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentCar.id">
    <br />
    <p>Cannot access this Car...</p>
  </div>
</div>
