<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Rapid Project</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="caritmes" class="nav-link">Car List</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="uploadData" class="nav-link">Upload</a>
      </li>

      <li class="nav-item">
        <a routerLink="cars" class="nav-link">Export</a>
      </li>
     
      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
