<div *ngIf="currentFile" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
    attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: progress+'%'}">
    {{ progress }}%
  </div>
</div>


<div class="list row">
  <div class="col-md-8">
    <label class="btn btn-outline-secondary">
      <input type="file" (change)="selectFile($event)" />
    </label>
  </div>
</div>
<div class="list row">
  <div class="col-md-3">
    <button class="btn btn-outline-secondary" [disabled]="!selectedFiles" (click)="upload()">
      Upload
    </button>
  </div>
</div>

